@charset "UTF-8";
/* CSS Document */
html, body {
	font-family: 'Roboto', sans-serif;
background-color:#F2F2F2;
	margin: 0;
		padding:0;
}
#header {
	width:100%;
	height:50px;
	background-color: #FFFFFF;
	position: fixed;
	top:0;
	left:0;
	box-shadow: 0 0 5px 1px black;

}
#header-space {
	height:50px;
	width: 100%;
}
#footer-space {
	height:70px;
	width: 100%;
}
#footer {
	width:100%;
	height:50px;
	background-color:#FFFFFF;
	position: fixed;
	bottom:0;
	left:0;
		box-shadow: 0 0 5px 1px black;

}

.category {
	width: 100%;
	height: 60px;
		font-size: 18px;
		font-weight:700;
	text-decoration: none;

	

}

.line {
	width:100%;
	height: 2px;
	margin-top: 5px;
	
}

#arrow1 {
	background-image: url(line1.svg);
	background-size: cover;
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	margin-bottom: 12px;
	height:53px;
	width:53px;
	
}
#arrow2 {
	background-image: url(line2.svg);
	background-size: cover;
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	margin-bottom: 12px;
	height:53px;
	width:53px;
}
#arrow3 {
	background-image: url(line3.svg);
	background-size: cover;
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	margin-bottom: 12px;
	height:53px;
	width:53px;
	
}
#arrow4 {
	background-image: url(line4.svg);
	background-size: cover;
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	margin-bottom: 12px;
	height:53px;
	width:53px;
}
#arrow5 {
	background-image: url(line5.svg);
	background-size: cover;
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	margin-bottom: 12px;
	height:53px;
	width:53px;
}
#arrow6 {
	background-image: url(line6.svg);
	background-size: cover;
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	margin-bottom: 12px;
	height:53px;
	width:53px;
	
	
}
#Acute-Care {
	color:#A43FC8;	
}
#line1 {
	background-color: #A43FC8
}

#Breast {
	color:#BC2A91;
}
#line2 {
	background-color: #BC2A91;
}

#Cardio-Thoracic {
	color:#D4155A;
}
#line3 {
	background-color: #D4155A;
}
#Endocrine {
	color:#E03E46;
}
#line4 {
	background-color: #E03E46;
}
#Head-and-Neck {
	color:#E34145;
}
#line5 {
	background-color: #E34145;
}

#Hepatopancreaticobiliary {
	color:#F7921E;
}
#line6 {
	background-color: #F7921E;
}
.icon {
	height:50px;
	width: 50px;
	background-size: cover;
	position: fixed;
	top: 0;
}
.icon2 {
	height:50px;
	width: 50px;
	background-size: cover;
	position: fixed;
	bottom: 0;
	margin-top: -50px;
	margin-left:-50px;
	
}

#back {
	background-image: url(back.svg);
	left: 0;
}

#search {
	background-image: url(search.svg);
	right: 50px;
}
#burger {
	background-image: url(filter.svg);
	right: 7px;
}
	
#stat {
	background-image: url(stats.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: 20%;
	width: 40px;
	height:40px;
	position: relative;
	margin-top:7px;

}
#quiz {
	background-image: url(quiz.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 40px;
	height:40px;
	position: relative;
		margin-top:-40px;


}
#quiz-button{
color: white;
	opacity: 0;
		margin-right: auto;
	margin-left: auto;
	text-align:center;
}
#review {
	background-image: url(review.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 20%;
	margin-left: auto;
	width: 40px;
	height:40px;
	position: relative;
	margin-top:-40px;

}

.cat-text {
	margin-top:-50px;
	margin-bottom: 22px;
	margin-left: 10px;
}


.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

